
button, select, input
 {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

/* 1행: 그룹, 유저 설정 */
.person-search {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

/* 2행 */
.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.food-data, .food-search, .food-details {
    flex: 1;
    /* flex-direction: column; */
    min-height: 350px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.food-data-content {
    display: flex;
    flex-direction: row;
}

.time-categories {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.time-categories b {
    text-align: center;
    font-size: 16px;
}

.time-categories button {
    height: 40px;
    background-color: #4464cd2b;
    margin-top: 10px;
    border-radius: 15px;
}

.time-categories button.active {
    background-color: #2F3D86;
    color: white;
}

.food-data-button {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    margin-right: 10px;
}

.add-food-button {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.search-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.search-options label {
    display: flex;
    align-items: center;
}

.search-options input[type="text"] {
    width: 70px;
}

.food-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* 테이블 레이아웃을 고정 */
}

.food-table th, .food-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.food-table th:first-child, .food-table td:first-child {
    width: 80px; /* Food Code 열의 너비를 80px로 설정 */
}

.food-table th {
    background-color: #f2f2f2;
}

/* 3행 영양성분 테이블 */
.nutrition-table-container {
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-table th, .nutrition-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.nutrition-table th {
    background-color: #2F3D86;;  
    color: white;
}

.nutrition-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.nutrition-table tr:hover {
    background-color: #ddd;
}

.nutrition-controls {
    margin: 15px 0;
    gap: 10px;
    display: flex;
    align-items: center;
}

.export-excel button {
    /* padding: 10px 15px; */
    margin-right: 5px;
    background-color: #4464cd2b;
}

.nutrition-controls button {
    padding: 10px 15px;
    background-color: #2F3D86;
    color: white;
    border-radius: 30px;
    font-size: 14px;
}

.selected {
    background-color: lightgray;
}