/* 1행: 그룹, 유저 설정 */
.person-search {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* flex-wrap: wrap; */
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.form-group label {
    margin-right: 5px;
}

/* 2행 */
.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.food-data, .food-search, .food-details {
    flex: 1;
    /* flex-direction: column; */
    min-height: 350px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    /* align-items: center; */
}

.food-data-content {
    display: flex;
    flex-direction: row;
}

.time-categories {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.time-categories button {
    margin-bottom: 10px;
    height: 40px;
}

.time-categories button.active {
    background-color: #4CAF50;
    color: white;
}

.food-data-buttons {
    display: flex;
    justify-content: flex-end;
}

/* .search-results {
    flex-grow: 1;
} */

.add-food-button {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.search-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.search-options label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-options input[type="text"] {
    width: 70px; /* 입력 필드의 너비 조절 */
}

.food-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* 테이블 레이아웃을 고정 */
}

.food-table th, .food-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.food-table th:first-child, .food-table td:first-child {
    width: 80px; /* Food Code 열의 너비를 80px로 설정 */
}

.food-table th {
    background-color: #f2f2f2;
}


/* 3행 영양성분 테이블 */
.nutrition-table-container {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    /* overflow-x: auto; */
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-table th, .nutrition-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.nutrition-table th {
    background-color: #4CAF50;
    color: white;
}

.nutrition-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.nutrition-table tr:hover {
    background-color: #ddd;
}

.nutrition-controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nutrition-controls label {
    margin-right: 10px;
}

.nutrition-controls select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.nutrition-controls button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.nutrition-controls button:hover {
    background-color: #45a049;
}

/* .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
} */

.selected {
    background-color: lightgray;
}