h2 {
    white-space: nowrap;
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    display: flex;
}

.group-selection, .filter-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.group-selection label, .filter-options label {
    margin-right: 10px;
}

.group-selection select, .filter-options input, .filter-options select {
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.filter-options span {
    margin-right: 10px;
}

/* 버튼 컨테이너 스타일 */
.button-container {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
    width: 100%;
    margin-bottom: 20px;
}

button[type="button"], .filter-options button {
    padding: 10px 20px;
    background-color: #66d0d0;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0;
}

button[type="button"]:hover, .filter-options button:hover {
    background-color: #696bde;
}

.statistics-table {
    margin-top: 20px;
    overflow-x: auto;
    margin-bottom: 20px;
}

.statistics-table table {
    width: 100%;
    border-collapse: collapse;
}

.statistics-table th, .statistics-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

.statistics-table th {
    background-color: #f2f2f2;
}
