.main-content {
    margin: 20px 0;
}

.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
}

.section {
    flex: 1;
    margin: 0 10px;
}

.search-options {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 요소들을 양 끝에 배치하여 빈 공간을 없앰 */
    gap: 15px;
    margin-bottom: 10px;
    width: 100%;
}

.search-options label {
    display: flex;
    align-items: center;
}

.search-options input[type="text"] {
    width: 90px;
}

.search-options button {
    margin-left: auto; /* Search 버튼을 오른쪽으로 정렬 */
}

.food-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* 테이블 레이아웃을 고정 */
}

.food-table th, .food-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.food-table th:first-child, .food-table td:first-child {
    width: 80px; /* Food Code 열의 너비를 80px로 설정 */
}

.food-table th {
    background-color: #f2f2f2;
}

td {
    text-align: left;
}

/* Nutrient form styling */
#nutrientForm {
    display: flex;
    flex-direction: column; /* 세로 방향으로 컨테이너 정렬 */
    align-items: center; /* 모든 요소를 중앙에 정렬 */
    width: 100%;
}

.column-container-wrapper {
    display: flex;
    justify-content: space-between; /* 가로로 두 열을 나란히 배치 */
    width: 100%;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: 48%; /* 두 열이 나란히 배치되도록 각 열의 너비를 설정 */
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #f2f2f2; /* 배경색 추가 */
    padding: 5px; /* 내부 여백 추가 */
    border-radius: 5px; /* 테두리 둥글게 설정 */
}

.form-row label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
}

.form-row input {
    flex: 1;
    padding: 5px;
    max-width: 150px;
    text-align: center;
}

.form-row .unit {
    margin-left: 10px;
    min-width: 50px; /* 단위 표시의 최소 너비 설정 */
    text-align: center; /* 단위 텍스트를 중앙 정렬 */
    font-size: 0.9em;
}

.button-container {
    display: flex;
    justify-content: center; /* 버튼을 중앙에 배치 */
    width: 100%;
    margin-top: 20px; /* 필드와 버튼 사이의 간격 추가 */
}

#addNutrientBtn {
    padding: 10px 15px;
    background-color: #2F3D86;
    color: white;
    border-radius: 30px;
    font-size: 14px;
}

.button-group {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    position: relative; /* 상대 위치 설정 */
}

.button-group button {
    margin-right: 5px; /* 오른쪽 여백 추가 */
    margin-bottom: 20px;
    background-color: #2F3D86;
    color: white;
    border-radius: 30px;
    font-size: 14px;
}

.button-group button:disabled {
    background-color: #ccc; /* 비활성화된 버튼 배경색 */
    color: #666; /* 비활성화된 버튼 텍스트 색 */
    cursor: not-allowed; /* 마우스 커서를 'not-allowed'로 변경 */
    opacity: 0.7; /* 버튼을 반투명하게 */
}

.button-group button:last-child {
    margin-right: 0; /* 마지막 버튼의 오른쪽 여백 제거 */
}

.apply {
    position: absolute; /* 절대 위치로 설정 */
    margin-top: 30px; /* 간격 조정 */
    margin-right: 10px; /* 오른쪽 여백 추가 */
}

/* Help 버튼 스타일 */
.help-btn {
    font-size: 18px;
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
    display: inline-block;
}

/* 모달 창 스타일 */
.modal {
    display: none; /* 기본적으로 감춰둡니다 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 모달의 너비 설정 */
    max-width: 670px; /* 최대 너비 */
}

.close {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    float: right; /* 닫기 버튼을 오른쪽 상단에 배치 */
}

.editable-cell {
    background-color: #a29ff5; /* 입력 가능한 셀의 배경색 */
}