

.container {
    display: flex;
    justify-content: space-between; /* 섹션 간의 공간을 동일하게 분배 */
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;  /* 컨테이너의 끝(우측)으로 요소를 정렬 */
    flex-wrap: wrap;
    padding-top: 10px;  /* 위쪽에만 패딩 부여 */
}

/* 레이블과 인풋 필드를 포함하는 컨테이너에 대한 스타일 */
.form-group {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 5px;
    background-color: #f2f2f2; /* 배경색 추가 */
    padding: 5px; /* 내부 여백 추가 */
    border-radius: 5px; /* 테두리 둥글게 설정 */
}

/* 레이블에 대한 스타일 */
.label {
    width: 100px; /* 레이블의 너비를 고정 */
    margin-right: 10px; /* 레이블과 인풋 필드 사이의 간격 */
    text-align: right; /* 레이블 텍스트를 오른쪽 정렬 */
}

/* 인풋 필드에 대한 스타일 */
.input-field {
    flex: 1;
    padding: 5px;
    min-width: 200px; /* 입력 필드의 최소 너비를 증가 */
    max-width: 400px; /* 입력 필드의 최대 너비 설정 */
    width: 100%; /* 전체 컨테이너 너비를 채우도록 설정 */
}



/* Group Management 섹션 */
.group-management {
    display: flex;
    width: 100%;
}

.group-list {
    width: 33%; /* 너비 조정 */
    padding: 20px;
    border-radius: 8px;
    margin-right: 2%; /* 오른쪽 여백 추가 */
}

.group-details {
    width: 33%; /* 너비 조정 */
    padding: 20px;
    border-radius: 8px;
    margin-right: 2%; /* 오른쪽 여백 추가 */
}


.group-list table {
    width: 100%;
    border-collapse: collapse;
}

.group-table {
    background-color: white;
    max-height: 340px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.group-table th, .group-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.group-table th:first-child, .group-table td:first-child {
    width: 80px; /* Food Code 열의 너비를 80px로 설정 */
}

.group-table th {
    background-color: #f2f2f2;
}


.group-list tr.selected {
    background-color:  lightgray;
}

.group-button {
    margin-bottom: 20px;  /* 모든 버튼에 동일하게 적용 */
    margin-left: 10px;
}



/* User Management 섹션 */

.group-selection {
    display: flex;        /* Flexbox 레이아웃 적용 */
    align-items: center;  /* 세로 중앙 정렬 */
    gap: 10px;            /* 요소 사이 간격 설정 */
}

.h3-style {
    font-weight: bold;  /* 굵은 글씨체 */
    margin-bottom: 10px;  /* 아래쪽 마진 */
    color: #333;  /* 글자색 */
}


.user-management {
    display: flex;
    width: 100%;
}

.user-list {
    width: 33%; /* 너비 조정 */
    padding: 20px;
    border-radius: 8px;
    margin-right: 2%; /* 오른쪽 여백 추가 */
}

.user-details {
    width: 33%; /* 너비 조정 */
    padding: 20px;
    border-radius: 8px;
    margin-right: 2%; /* 오른쪽 여백 추가 */
}

.user-table-container {
    max-height: 340px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    overflow-y: auto;
}

.user-list table {
    width: 100%;
    border-collapse: collapse;
}

.user-list table th {
    background-color: #f2f2f2;
}

.user-list th, .user-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-list tr.selected {
    background-color:  lightgray;
}

.user-button {
    margin-bottom: 20px;  /* 모든 버튼에 동일하게 적용 */
    margin-left: 10px;
}

.pagination-controls {
    display: flex;
    justify-content: center; /* 버튼들을 가운데로 정렬 */
    align-items: center;
    margin-top: 10px; /* 상단 여백 추가 */
    gap: 10px; /* 버튼 사이 간격 추가 */
}
