h2 {
    white-space: nowrap;
    font-size: 24px;
    margin-bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.group-management {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.group-list {
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    background-color: #fffacd;
    margin-right: 10px;
    height: 250;
}

.group-details {
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    background-color: #e0ffe0;
}

.group-list table {
    width: 100%;
    border-collapse: collapse;
}

.group-table {
    background-color: white;
    max-height: 340px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.group-list th, .group-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.group-list tr.selected {
    background-color: #f0f8ff;
}

.action-btn {
    margin-top: 10px;
    display: block;
    width: 100%;
}
