h2 {
    white-space: nowrap;
    font-size: 24px;
    margin-bottom: 0;
}

.container {
    display: flex;
}

.group-selection {
    white-space: nowrap;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.user-management {
    align-items: center;
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.user-list {
    width: 48%;
    padding: 20px;
    border-radius: 8px;
    background-color: #E6E6FA;
    margin-right: 20px;
}

.user-details {
    width: 48%;
    padding: 20px;
    border-radius: 8px;
    background-color: #FFB6C1;
}

.user-details.hidden {
    display: none;
}

.user-table-container {
    max-height: 340px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    overflow-y: auto;
}

.user-list table {
    width: 100%;
    border-collapse: collapse;
}

.user-list th, .user-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-list tr.selected {
    background-color: #f0f8ff;
}

.action-btn {
    margin-top: 10px;
    display: block;
    width: 100%;
}
