button, select, input
 {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.common-style {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.pagination {
    margin-top: 10px;
    text-align: center;
    justify-content: center;

}

.pagination select {
    border: 1px solid #ddd;
    padding: 4px;
}

.search-options input:not(:disabled) {
    background-color: #4464cd2b;
}

.selected {
    background-color: lightgray;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.login-page {
    min-height: 100vh;
    background-size: contain; /* contain으로 변경 */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* 컨텐츠를 가운데로 정렬 */
    align-items: center; /* 컨텐츠를 세로로 가운데 정렬 */
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header .CAM-RUA {
    height: 40px;
    padding: 30px;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    background-color: #f5f7fe;
}

.navBar {
    width: 230px;
    background-color: white;
    box-sizing: border-box;
}

.navBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navBar ul li a {
    display: block;
    padding: 17px 20px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ccc;
    transition: background 0.3s;
    font-size: 16px;
}

.navBar ul li a:hover {
    background-color: #ddd;
}

main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
}

footer {
    background-color: #2F3D86;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* login.html */
.login-page {
    display: flex;
    justify-content: center; /* 컨텐츠를 가로로 가운데 정렬 */
    align-items: center; /* 컨텐츠를 세로로 가운데 정렬 */
    min-height: 100vh;
    background-image: url('{{ url_for('static', filename='images/background.png') }}');
    background-size: contain; /* 이미지를 화면에 맞추되 비율을 유지함 */
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.login-page .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    margin-left: 150px;
}

.login-page .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.login-page .login-wrapper {
    width: 300px;
    padding: 15px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #333;
}

.login-page .login-wrapper > h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-page #login-form {
    display: flex;
    flex-direction: column;
}

.login-page #login-form input {
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #F8F8F8;
    border: 1px solid #ccc;
}

.login-page #login-form .button-container {
    display: flex;
    justify-content: flex-end;
}

.start-button {
    background: none;
    border: none;
    padding: 0; 
    cursor: pointer;
    position: absolute;
    left: calc(40% - 50px); /* 가로 기준 오른쪽 첫 번째 라인에 맞추기 (4등분 중 75%) */
    top: calc(65% - 20px); /* 세로 기준 하단 첫 번째 라인에 맞추기 (4등분 중 75%) */
    transform: translate(-50%, -50%); /* 버튼을 정확한 교차점에 위치시키기 위해 중앙 이동 */
}

.start-button img {
    width: 100px; /* 버튼의 크기를 설정하세요 */
    height: auto; /* 비율을 유지하면서 크기 조정 */
    display: block;
}