<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="71086ecf5a2c427a8d3179eb3c12276f" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_71086ecf5a2c427a8d3179eb3c12276f = echarts.init(
            document.getElementById('71086ecf5a2c427a8d3179eb3c12276f'), 'white', {renderer: 'canvas'});
        var option_71086ecf5a2c427a8d3179eb3c12276f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "Below 100%",
            "legendHoverLink": true,
            "data": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "color": "#FFC0CB"
            }
        },
        {
            "type": "bar",
            "name": "100% and above",
            "legendHoverLink": true,
            "data": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "color": "#ADD8E6"
            }
        },
        {
            "type": "bar",
            "legendHoverLink": true,
            "data": [
                {
                    "value": 2,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                },
                {
                    "value": 3,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                },
                {
                    "value": 8,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                },
                {
                    "value": 10,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                },
                {
                    "value": 6,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                },
                {
                    "value": 1,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                },
                {
                    "value": 2,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                },
                {
                    "value": 0,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                },
                {
                    "value": 82,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                },
                {
                    "value": 250,
                    "itemStyle": {
                        "color": "#ADD8E6"
                    }
                },
                {
                    "value": 215,
                    "itemStyle": {
                        "color": "#ADD8E6"
                    }
                },
                {
                    "value": 0,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                },
                {
                    "value": 0,
                    "itemStyle": {
                        "color": "#FFC0CB"
                    }
                }
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barWidth": "80%",
            "barMinHeight": 0,
            "barCategoryGap": "10%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "margin": 8
                },
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "dashed",
                    "color": "#F08080"
                },
                "data": [
                    {
                        "name": "Target Line",
                        "yAxis": 100
                    }
                ]
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Below 100%",
                "100% and above",
                ""
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "category",
            "name": "Nutritions",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": 0,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": true,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Energy",
                "Protein",
                "CA",
                "FE",
                "ZN",
                "Vit.A",
                "Vit.B1",
                "Vit.B2",
                "Vit.B3",
                "Folate",
                "Vit.C",
                "Vit.D",
                "NA"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "Intake Ratio (%)",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 250,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "Nutritional Intake Ratios",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false,
            "textStyle": {
                "fontSize": 16
            }
        }
    ]
};
        chart_71086ecf5a2c427a8d3179eb3c12276f.setOption(option_71086ecf5a2c427a8d3179eb3c12276f);
    </script>
</body>
</html>
