<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cambodia NAS{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/CAM-RUA.png') }}" alt="CAM-RUA" class="CAM-RUA">
    </header>
    <div class="container">
        <nav class="navBar">
            <ul>
                <li><a href="{{ url_for('m_gandu') }}">Group & User Management</a></li>
                <li><a href="{{ url_for('tfh') }}">24Hour Recall Method</a></li>
                <li><a href="{{ url_for('db_food') }}">Edit Food DB</a></li>
                <li><a href="{{ url_for('db_nutri') }}">Edit Food Ingredient DB</a></li>
            </ul>
            <ul>
                <li><a href="{{ url_for('logout') }}">Out</a></li>
            </ul>
        </nav>
        <main>   
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
