<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cambodia NAS{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div id="logo">
            <h1>Cambodia NAS</h1>
        </div>
    </header>
    <div class="container">
        <nav class="navBar">
            <ul>
                <li><a href="{{ url_for('m_group') }}">Group Management</a></li>
                <li><a href="{{ url_for('m_person') }}">User Management</a></li>
                <li><a href="{{ url_for('tfh') }}">24Hour Recall Method</a></li>
                <li><a href="{{ url_for('tfh_stas') }}">Generate Statistics</a></li>
                <li><a href="{{ url_for('tfh_excel') }}">Excel Conversion</a></li>
                <li><a href="{{ url_for('db_food') }}">Edit Food DB</a></li>
                <li><a href="{{ url_for('db_nutri') }}">Edit Food Ingredients DB</a></li>
            </ul>
            <ul>
                <li><a href="{{ url_for('logout') }}">LogOut</a></li>
            </ul>
        </nav>
        <main>   
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer class="footer">
		<div>
			<p>Copyright. All rights reserved.</p>
		</div>
	</footer>
</body>
</html>
