{% extends 'base.html' %}

{% block title %}
    Search & Edit Ingredient
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='db_nutri.css') }}">
    <script src="{{ url_for('static', filename='db_nutri.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="title-container">
        <h1 style="display: inline-block;">Ingredient DB Editor</h1>
        <button class="help-btn" onclick="openHelpModal()">Help</button>
    </div>
    <div class="main-content">
        <div class="section-container">
            <!-- Food Ingredient -->
            <div class="section common-style">
                <h2>Search & Edit Ingredient</h2>
                <div class="search-options">
                    <label>
                        <input type="radio" name="ingredientSearchType" value="ingredientCode" checked onclick="toggleIngredientInputFields()">
                        Ingredient Code
                    </label>
                    <input type="text" id="ingredientCodeInput">
                    <label>
                        <input type="radio" name="ingredientSearchType" value="ingredientName" onclick="toggleIngredientInputFields()">
                        Ingredient Name
                    </label>
                    <input type="text" id="ingredientNameInput" disabled>
                    <button type="button" onclick="searchIngredient()">Search</button>
                </div>
                <table id="ingredientTable" class="food-table">
                    <thead>
                        <tr>
                            <th>Ingredient Code</th>
                            <th>Ingredient Name</th>
                            <th>1 person (g)</th>
                        </tr>
                    </thead>
                    <tbody id="ingredientTableBody">
                        <!-- Ingredients will be dynamically added here -->
                    </tbody>
                </table>
                <div class="pagination">
                    <button id="prevPageIngredientBtn">Previous</button>
                    <button id="nextPageIngredientBtn">Next</button>                    
                    <select id="rowsPerPageIngredient">
                        <option value="10">10</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="button-group">
                    <button id="editIngredientBtn" type="button">Edit Ingredient</button>
                    <button id="addIngredientBtn" type="button">Add Ingredient</button>
                    <button id="deleteIngredientBtn" type="button">Delete Ingredient</button>
                </div>
            </div>
            <!-- Food Nutrient -->
            <div class="section common-style">
                <h2>Edit Nutrient</h2>
                <form id="nutrientForm">
                    <div class="column-container-wrapper">
                        <div class="column-container">
                            <div class="form-row">
                                <label for="energy">Energy :</label>
                                <input type="number" id="energy" name="energy">
                                <span class="unit">(kcal)</span>
                            </div>
                            <div class="form-row">
                                <label for="water">Water :</label>
                                <input type="number" id="water" name="water">
                                <span class="unit">(g)</span>
                            </div>
                            <div class="form-row">
                                <label for="protein">Protein :</label>
                                <input type="number" id="protein" name="protein">
                                <span class="unit">(g)</span>
                            </div>
                            <div class="form-row">
                                <label for="fat">Fat :</label>
                                <input type="number" id="fat" name="fat">
                                <span class="unit">(g)</span>
                            </div>
                            <div class="form-row">
                                <label for="carbo">CHO :</label>
                                <input type="number" id="carbo" name="carbo">
                                <span class="unit">(g)</span>
                            </div>
                            <div class="form-row">
                                <label for="fiber">Fiber :</label>
                                <input type="number" id="fiber" name="fiber">
                                <span class="unit">(g)</span>
                            </div>
                            <div class="form-row">
                                <label for="ca">Ca :</label>
                                <input type="number" id="ca" name="ca">
                                <span class="unit">(mg)</span>
                            </div>
                            <div class="form-row">
                                <label for="fe">Fe :</label>
                                <input type="number" id="fe" name="fe">
                                <span class="unit">(mg)</span>
                            </div>
                            <div class="form-row">
                                <label for="zn">Zn :</label>
                                <input type="number" id="zn" name="zn">
                                <span class="unit">(mg)</span>
                            </div>
                        </div>
                        <div class="column-container">
                            <div class="form-row">
                                <label for="va">Vit.A :</label>
                                <input type="number" id="va" name="va">
                                <span class="unit">(mg)</span>
                            </div>
                            <div class="form-row">
                                <label for="vb1">Vit.B1 :</label>
                                <input type="number" id="vb1" name="vb1">
                                <span class="unit">(mg)</span>
                            </div>
                            <div class="form-row">
                                <label for="vb2">Vit.B2 :</label>
                                <input type="number" id="vb2" name="vb2">
                                <span class="unit">(mg)</span>
                            </div>
                            <div class="form-row">
                                <label for="vb3">Vit.B3 :</label>
                                <input type="number" id="vb3" name="vb3">
                                <span class="unit">(mg)</span>
                            </div>
                            <div class="form-row">
                                <label for="vb6">Vit.B6 :</label>
                                <input type="number" id="vb6" name="vb6">
                                <span class="unit">(mg)</span>
                            </div>
                            <div class="form-row">
                                <label for="fol">Folate :</label>
                                <input type="number" id="fol" name="fol">
                                <span class="unit">(mcg)</span>
                            </div>
                            <div class="form-row">
                                <label for="vb12">Vit.B12 :</label>
                                <input type="number" id="vb12" name="vb12">
                                <span class="unit">(mcg)</span>
                            </div>
                            <div class="form-row">
                                <label for="vc">Vit.C :</label>
                                <input type="number" id="vc" name="vc">
                                <span class="unit">(mg)</span>
                            </div>
                            <div class="form-row">
                                <label for="vd">Vit.D :</label>
                                <input type="number" id="vd" name="vd">
                                <span class="unit">(mcg)</span>
                            </div>
                            <div class="form-row">
                                <label for="na">Na :</label>
                                <input type="number" id="na" name="na">
                                <span class="unit">(mg)</span>
                            </div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button id="addNutrientBtn" type="button">Save Nutrient</button>
                    </div>                
                </form>
            </div>
        </div>
    </div>
    <div id="helpModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeHelpModal()">&times;</span>
            <h2>How to Use the Page</h2>
            <p>This page allows you to edit the food ingredient database.</p>
            <p><strong>Search & Edit Ingredient:</strong> You can search for food ingredients by entering their codes or names.</p>
            <p><strong>Search Button:</strong> This allows you to retrieve the entire list.</p>
            <p><strong>Edit Ingredient Button:</strong> This allows you to modify the selected food ingredient's code and name.</p>
            <p><strong>Add Ingredient Button:</strong> This allows you to add new food ingredient item to the database.</p>
            <p><strong>Delete Ingredient Button:</strong> This allows you to remove the selected food ingredient from the database.</p>
            <p><strong>Edit Nutrient:</strong> You can edit and check the nutrients of the food ingredients.</p>
            <p><strong>Save Nutrient Button:</strong> This allows you to save the edited nutrients of the food ingredients.</p>
        </div>
    </div>
{% endblock %}
