{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Ingredient DB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='db_nutri.css') }}">
</head>
<body>
    <h2>Ingredient DB Editor</h2>
    <div class="main-content">
        <div class="section-container">
            <!-- Food Ingredient -->
            <div class="section">
                <h3>Edit Food Ingredient</h3>
                <div class="search-options">
                    <label>
                        <input type="radio" name="ingredientSearchType" value="ingredientCode" checked onclick="toggleIngredientInputFields()">
                        INGID
                    </label>
                    <input type="text" id="ingredientCodeInput">
                    <label>
                        <input type="radio" name="ingredientSearchType" value="ingredientName" onclick="toggleIngredientInputFields()">
                        INGNAME_EN
                    </label>
                    <input type="text" id="ingredientNameInput" disabled>
                    <button type="button" onclick="searchIngredient()">Search</button>
                </div>
                <table id="ingredientTable" class="food-table">
                    <thead>
                        <tr>
                            <th>INGID</th>
                            <th>INGNAME_EN</th>
                            <th>g</th>
                        </tr>
                    </thead>
                    <tbody id="ingredientTableBody">
                        <!-- Ingredients will be dynamically added here -->
                    </tbody>
                </table>
                <div class="pagination">
                    <button id="prevPageIngredientBtn">Previous</button>
                    <button id="nextPageIngredientBtn">Next</button>                    
                    <select id="rowsPerPageIngredient">
                        <option value="10">10</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <button id="editIngredientBtn" type="button">Edit Ingredient</button>
                <button id="addIngredientBtn" type="button">Add Ingredient</button>
                <button id="deleteIngredientBtn" type="button">Delete Ingredient</button>
            </div>
            <!-- Food Nutrient-->
            <div class ="section">
                <h3>Edit Nutrient</h3>
                <form id="nutrientForm">
                    <div class="column-container-wrapper">
                    <div class="column-container">
                        <div class="form-row">
                            <label for="energy">Energy :</label>
                            <input type="number" id="energy" name="energy">
                            <span class="unit">(kcal)</span>
                        </div>
                        <div class="form-row">
                            <label for="water">Water :</label>
                            <input type="number" id="water" name="water">
                            <span class="unit">(g)</span>
                        </div>
                        <div class="form-row">
                            <label for="protein">Protein :</label>
                            <input type="number" id="protein" name="protein">
                            <span class="unit">(g)</span>
                        </div>
                        <div class="form-row">
                            <label for="fat">Fat :</label>
                            <input type="number" id="fat" name="fat">
                            <span class="unit">(g)</span>
                        </div>
                        <div class="form-row">
                            <label for="carbo">CHO :</label>
                            <input type="number" id="carbo" name="carbo">
                            <span class="unit">(g)</span>
                        </div>
                        <div class="form-row">
                            <label for="fiber">Fiber :</label>
                            <input type="number" id="fiber" name="fiber">
                            <span class="unit">(g)</span>
                        </div>
                        <div class="form-row">
                            <label for="ca">Ca :</label>
                            <input type="number" id="ca" name="ca">
                            <span class="unit">(mg)</span>
                        </div>
                        <div class="form-row">
                            <label for="fe">Fe :</label>
                            <input type="number" id="fe" name="fe">
                            <span class="unit">(mg)</span>
                        </div>
                        <div class="form-row">
                            <label for="zn">Zn :</label>
                            <input type="number" id="zn" name="zn">
                            <span class="unit">(mg)</span>
                        </div>
                    </div>
                    <div class="column-container">
                        <div class="form-row">
                            <label for="va">Vit.A :</label>
                            <input type="number" id="va" name="va">
                            <span class="unit">(mg)</span>
                        </div>
                        <div class="form-row">
                            <label for="vb1">Vit.B1 :</label>
                            <input type="number" id="vb1" name="vb1">
                            <span class="unit">(mg)</span>
                        </div>
                        <div class="form-row">
                            <label for="vb2">Vit.B2 :</label>
                            <input type="number" id="vb2" name="vb2">
                            <span class="unit">(mg)</span>
                        </div>
                        <div class="form-row">
                            <label for="vb3">Vit.B3 :</label>
                            <input type="number" id="vb3" name="vb3">
                            <span class="unit">(mg)</span>
                        </div>
                        <div class="form-row">
                            <label for="vb6">Vit.B6 :</label>
                            <input type="number" id="vb6" name="vb6">
                            <span class="unit">(mg)</span>
                        </div>
                        <div class="form-row">
                            <label for="fol">Folate :</label>
                            <input type="number" id="fol" name="fol">
                            <span class="unit">(mcg)</span>
                        </div>
                        <div class="form-row">
                            <label for="vb12">Vit.B12 :</label>
                            <input type="number" id="vb12" name="vb12">
                            <span class="unit">(mcg)</span>
                        </div>
                        <div class="form-row">
                            <label for="vc">Vit.C :</label>
                            <input type="number" id="vc" name="vc">
                            <span class="unit">(mg)</span>
                        </div>
                        <div class="form-row">
                            <label for="vd">Vit.D :</label>
                            <input type="number" id="vd" name="vd">
                            <span class="unit">(mcg)</span>
                        </div>
                        <div class="form-row">
                            <label for="na">Na :</label>
                            <input type="number" id="na" name="na">
                            <span class="unit">(mg)</span>
                        </div>
                    </div>
                </div>
                    <div class="button-container">
                        <button id="addNutrientBtn" type="button">Save Nutrient</button>
                    </div>                
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='db_nutri.js') }}"></script>
</body>
</html>
{% endblock %}
