<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div id="logo">
            <h1>로고</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('m_group') }}">그룹 관리</a></li>
            <li><a href="{{ url_for('m_person') }}">사용자 관리</a></li>
            <li><a href="{{ url_for('tfh') }}">24시간 회상법</a></li>
            <li><a href="{{ url_for('tfh_stas') }}">통계 생성</a></li>
            <li><a href="{{ url_for('tfh_excel') }}">엑셀 변환</a></li>
            <li><a href="{{ url_for('db_food') }}">음식 DB 편집</a></li>
            <li><a href="{{ url_for('db_nutri') }}">식품 DB 편집</a></li>
        </ul>
        <ul>
            <li><a href="{{ url_for('logout') }}">로그아웃</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
