<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambodia NAS-Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .login-page {
            background-image: url('{{ url_for('static', filename='images/background.png') }}');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body class="login-page">
    <div class="container">
        <h1>Cambodia<br>Nutrition Analysis Program</h1>
        <div class="login-wrapper">
            <h2>Login</h2>
                <form method="POST" action="{{ url_for('login') }}" id="login-form">
                <input type="text" id="username" name="username" placeholder="ID" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <div class="button-container">
                    <button type="submit">Login</button>
                </div>
            </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <footer class="footer">
		<div>
			<p>Copyright. All rights reserved.</p>
		</div>
	</footer>
</body>
</html>
