{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='m_group.css') }}">
    <style>
        .hidden {
            display: none;
        }
        .selected {
            background-color: #d3d3d3;
        }
    </style>
</head>
<body>
    <div>
    <h2>Group Management</h2>
    </div>
    <div class="container">
        <div class="group-management">
            <div class="group-list">
                <h3>Group List</h3>
                <div class="group-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Group Name</th>
                            </tr>
                        </thead>
                        <tbody id="group-list">
                            <!-- Group names will be inserted here dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div id="group-details" class="group-details hidden">
                <h3>Group Information</h3>
                <form id="group-form">
                    <div>
                        <label for="group-name">Group Name:</label>
                        <input type="text" id="group-name" name="group-name">
                    </div>
                    <div>
                        <label for="group-desc">Group Description:</label>
                        <input type="text" id="group-desc" name="group-desc">
                    </div>
                    <div>
                        <button type="button" onclick="saveGroup()">Save Current Group Information</button>
                    </div>
                    <div>
                        <button onclick="addGroup()">Add Group</button>
                        <button onclick="deleteGroup()">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='m_group.js') }}"></script>
</body>
</html>
{% endblock %}
